<a mat-raised-button color="primary" routerLink="/quarto/cadastrar">
    <mat-icon mat-list-icon>add</mat-icon>
    Novo Quarto</a>
<table mat-table [dataSource]="quartos" class="table mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.id }}</td>
    </ng-container>

    <ng-container matColumnDef="NumeroQuarto">
        <th mat-header-cell *matHeaderCellDef>Numero Quarto</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.NumeroQuarto }}</td>
    </ng-container>

    <ng-container matColumnDef="AndarQuarto">
        <th mat-header-cell *matHeaderCellDef>Andar Quarto</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.AndarQuarto }}</td>
    </ng-container>

    <ng-container matColumnDef="TipoQuarto">
        <th mat-header-cell *matHeaderCellDef>Tipo Quarto</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.TipoQuarto }}</td>
    </ng-container>

    <ng-container matColumnDef="ValorDiaria">
        <th mat-header-cell *matHeaderCellDef>Valor Diaria</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.ValorDiaria }}</td>
    </ng-container>

    <ng-container matColumnDef="Disponivel">
        <th mat-header-cell *matHeaderCellDef>Disponivel</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.Disponivel }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>
</table>
