<a mat-raised-button color="primary" routerLink="/quarto/cadastrar">
    <mat-icon mat-list-icon>add</mat-icon>
    Novo Quarto</a
>

<table mat-table [dataSource]="quartos" class="mat-elevation-z8">
    <!-- Coluna do Id -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.id }}</td>
    </ng-container>
    <!-- Coluna do Nome -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.nome }}</td>
    </ng-container>
    <!-- Coluna do Descrição -->
    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.descricao }}</td>
    </ng-container>
    <!-- Coluna do Quantidade -->
    <ng-container matColumnDef="disponivel">
        <th mat-header-cell *matHeaderCellDef>disponivel</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.disponivel }}</td>
    </ng-container>
    <!-- Coluna do Preço -->
    <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef>Preço</th>
        <td mat-cell *matCellDef="let quarto">{{ quarto.preco }}</td>
    </ng-container>
    <!-- Coluna do Categoria -->
    <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let quarto">
            {{ quarto.categoria!.nome }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>
</table>
