<div id="NumeroQuarto">
    <label for="NumeroQuarto">Numero do Quarto</label>
    <input	type="text" nome="NumeroQuarto"/>
</div>
<div id="AndarQuarto">
    <label for="AndarQuarto">Andar do Quarto</label>
    <input	type="text" nome="AndarQuarto"/>
</div>
<div id="TipoQuarto">
    <label for="TipoQuarto">Tipo de quarto</label>
    <input	type="text" nome="TipoQuarto"/>
</div>
<div id="ValorDiaria">
    <label for="ValorDiaria">Valor da Diaria</label>
    <input	type="text" nome="ValorDiaria"/>
</div>
<div id="Disponivel">
    <label for="Disponivel">Disponibilidade</label>
    <input	type="text" nome="Disponivel"/>
</div>
<button (click)="cadastrarreserva()">cadastrar</button>
<button routerLink="">voltar para lista</button>