<!doctype html>
<html ng-app="lista">
<head>
  <meta charset="utf-8">
  <title>Hotel</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <style>
    .jumbotron {
      width: 400px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .table{
      margin-top: 20px;
    }
    .form-control{
      margin-bottom: 5px;
    }
  </style>
  <script src="angular.js" type="text/javascript"></script>
  <script>
    angular.module("listaquarto", []);
    angular.module("listaquarto").controller("listaQCtrl", function ($scope){
      $scope.app = "Lista Quartos";
      $scope.quartos = [
            
      ];
      $scope.adicionarQuarto = function (quarto) {
        $scope.quartos.push(angular.copy(quarto));
        delete $scope.quarto;
      }
    });
  </script>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body ng-controller="listaQCtrl">
  <div class="jumbotron">
    <!-- <h4>{{app}}</h4>
    <table class="table table-striped ">
      <tr>
        <th>Numero</th>
        <th>Disponibilidade</th>
      </tr>
      <tr ng-repeat="quarto in quartos">
        <td ng-repeat="(key,value) in quarto">
          {{value}}
        </td>
      </tr>
    </table>
    <hr/> -->
    <button class="btn btn" onclick="">Check-in</button>
    <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Ver quarto</button>
  </div>
</body>
</html>
