<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <a class="title" mat-button routerLink=""> Hotel</a>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/produto/cadastrar">
                <mat-icon class="icon">add</mat-icon>Novo Produto</a
            >
            <a mat-list-item routerLink="/produto/listar">
                <mat-icon class="icon">list</mat-icon>Listar Produtos</a
            >
            <a mat-list-item routerLink="/cliente/cadastrar">
                <mat-icon class="icon">add</mat-icon>Cadastrar Cliente</a
            >
            <a mat-list-item routerLink="/cliente/listar">
                <mat-icon class="icon">list</mat-icon>Listar Cliente</a
            >
            <a mat-list-item routerLink="/quarto/cadastrar">
                <mat-icon class="icon">add</mat-icon>Cadastrar Quarto</a
            >
            <a mat-list-item routerLink="/quarto/listar">
                <mat-icon class="icon">list</mat-icon>Listar Quarto</a
            >
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
