<a mat-raised-button color="primary" routerLink="/cliente/cadastrar">
    <mat-icon mat-list-icon>add</mat-icon>
    Novo Cliente</a
>
<table mat-table [dataSource]="clientes" class="table mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let cliente">{{ cliente.id }}</td>
    </ng-container>
    <ng-container matColumnDef="NomeCliente">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let cliente">{{ cliente.NomeCliente }}</td>
    </ng-container>

    <ng-container matColumnDef="CPF">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let cliente">{{ cliente.CPF }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let cliente">{{ cliente.email }}</td>
    </ng-container>

    <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let cliente">{{ cliente.data }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>
</table>
